h1{
    color: white;
}

header{
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #c52f24;
}
h3{
    font-size: 1.5em;
}

ul{
    list-style: none;
}

footer{
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #c52f24;
}

table th{
    background-color: #ffdfdf;
    padding: 10px 20px;
}
table td{
    background-color: #f1c8c861;
    padding: 10px 20px;
}
.notice{
    background-color: #ccf;
    padding: 5px;
}
